{% extends "base_static.html" %} {% block title %}Password Reset{% endblock %} {% block content %}
<section id="login">
    
    <div id="loginbox" class="panel panel-default">
        <div class="panel-body">
        	<h4>Success</h4>
			<p>Your account has been created and you can now login!</p>
			<a href="/login" class="btn btn-primary btn-block">LOGIN</a>
        </div>
        <div class="panel-footer text-center">
            <span>Powered by </span>
            <img src="/static/img/brand.png" alt="">
        </div>
    </div>

</section>
{% endblock content %}
