{% extends "base_static.html" %} {% block title %}Login{% endblock %} {% block content %}
<style>
    .progress {
        display: none;
    }

    .error-list {
        width: 200px;
        display: inline-block;
    }
</style>
<div id="loginbox" class="panel panel-default">
    <div class="panel-body">
        <h4>Register with <span class="team">{{group.name}}</span> team!</h4>
        {% if settings.ALLOW_SOCIAL_LOGIN %}
        <a href="/login/facebook/" class="btn btn-social bg-facebook">
            <span class="icon-holder"><i class="fa fa-facebook"></i></span>
            Sign in with <strong>Facebook</strong>
        </a>

        <a href="/login/google/" class="btn btn-social bg-google">
            <span class="icon-holder"><i class="fa fa-google-plus"></i></span>
            Sign in with <strong>Google+</strong>
        </a>
        {% endif %}
        {% if settings.ALLOW_TWITTER_LOGIN %}
        <a href="/login/twitter/?next={{next}}" class="btn btn-social bg-twitter">
            <span class="icon-holder"><i class="fa fa-twitter"></i></span>
            Sign in with <strong>Twitter</strong>
        </a>

        <a href="/login/instagram/?next={{next}}" class="btn btn-social bg-instagram">
            <span class="icon-holder"><i class="fa fa-instagram"></i></span>
            Sign in with <strong>Instagram</strong>
        </a>
        {% endif %}
        <div>
            {% if settings.ALLOW_USER_LOGIN %}
            <hr>
            <div class="text-center">
                <p>OR TRADITIONAL</p>
                <form class="form-inline" id="login" method="POST" action="/login/?next={% if next and next.strip %}{{next}}{% else %}{{ request.path }}{% endif %}">{% csrf_token %}
                
                <div class="irow padded">
                    <strong>username:</strong> {{me.email}}
                </div>
                    
                <div class="form-group has-error">
                  <input data-rules="required password" type="password" id="password" name="password" placeholder="create a password" class="form-control">
                  <div id="password-strength">
                      
                  </div>
                </div>
                <br><br>
                    <p class="terms">By signing in you agree to the <a href="/static/terms_and_conditions.pdf">terms here</a></p>
                    <button type="submit" class="btn btn-primary">Sign In</button>

                </form>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="panel-footer text-center">
        <span>Powered by </span>
        <img src="/static/img/brand_dark.png" alt="">
    </div>
</div>

<script>
    $(document).ready(function () {
        var desc = new Array();
        desc[0] = "Very Weak";
        desc[1] = "Weak";
        desc[2] = "Better";
        desc[3] = "Medium";
        desc[4] = "Strong";
        desc[5] = "Strongest";

        var bClass = new Array();
        bClass[0] = "has-error";
        bClass[1] = "has-error";
        bClass[2] = "has-warning";
        bClass[3] = "has-success";
        bClass[4] = "has-success";
        bClass[5] = "has-success";

        var $pwd = $("#password");
        var $pwd_strength = $("#password-strength");
        $("#password").on("keyup", function(evt){
            var s = $pwd.val().strength();
            $pwd_strength.text(desc[s]);
            $pwd.parent().removeClass("has-error has-warning has-success").addClass(bClass[s]);
        });

        $("form").on("submit", function(evt){
            var s = $pwd.val().strength();
            if (s < 3) {
                $pwd_strength.text("PASSWORD NOT STRONG ENOUGH");
                evt.preventDefault();
                return false;
            }
        })
    });
</script>



{% endblock content %}
