{% extends "base_static.html" %} {% block title %}Password Reset{% endblock %} {% block content %}
<section id="login">
    
    <div id="loginbox" class="panel panel-default">
        <div class="panel-body">
            {% if error %}
                <h4>Something Went Wrong!</h4>
                <i class="fa fa-warning"></i> {{ error }}
                {% if allow_reinvite %}
                 <div>
                    <a class="btn btn-primary btn-block" href="?resend=1">RESEND INVITE</a>
                </div>                   
                {% else %}
                <div>
                    <a class="btn btn-link btn-block" href="/">TAKE ME BACK</a>
                </div>
                {% endif %}
            {% endif %}
            {% if message %}
                <p>{{ message }}</p>
            {% endif %}
        </div>
        <div class="panel-footer text-center">
            <span>Powered by </span>
            <img src="/static/img/brand.png" alt="">
        </div>
    </div>

</section>
{% endblock content %}
