{% extends "base_static.html" %}
{% block title %}Reset Password{% endblock %}
{% block head_includes %}<link rel="stylesheet" href="/static/css/compiled/reset.css" type="text/css" media="screen" />{% endblock %}
{% block readycode %}
    $("input[name=email]").select().focus();
{% endblock %}

{% block content %}

    <div id="reset_pwd" class="reset_page">
    <section id="login">
        
        <div id="loginbox" class="panel panel-none">
            <div class="panel-body">
                <h1>Password Reset</h1>
                <h5>Enter your email address below to receive instructions on how to reset your password.</h5>
                <form class="form" id="login" method="POST" action="#">{% csrf_token %}
                    {{ form.errors.email }}
                    <input type="text" placeholder="Email address" class="form-control" name="email" value="{{ form.data.email }}" />
                    {{ form.non_field_errors }}
                    <br>
                        <input class="btn btn-primary btn-block" type="submit" value="Reset password"/>
                 
                    
                </form>
                <div>
                    <p class="already">Know your password? <a href="/login"> Sign in</a></p>
                </div>
            </div>
<!--             <div class="panel-footer text-center">
                <span>Powered by </span>
                <img src="/static/img/brand.png" alt="">
            </div> -->
        </div>
    </section>
    </div>

{% endblock content %}

