{% extends "base_static.html" %} {% block title %}Password Reset{% endblock %} {% block content %}
<section id="login">
    
    <div id="loginbox" class="panel panel-default">
        <div class="panel-body">
        	<h2>Thank You</h2>
        	<p>Your password has been changed.  You may now <a href="/login">log in</a> with your new password.</p>
            <br>
            <div>
                <a href="/login" class="btn btn-default btn-block">LOGIN</a>
            </div>
            
        </div>
        <div class="panel-footer text-center">
            <span>Powered by </span>
            <img src="/static/img/brand.png" alt="">
        </div>
    </div>

</section>
{% endblock content %}
