{% extends "base_static.html" %}
{% block appstart %}{% endblock %}
{% load url from future %}
{% block title %}Password reset{% endblock %}
{% block content %}
{% if validlink %}
<div id="login-container">
	<h1>{{SITE_LABEL}} for {{ group.name }}</h1>
	<h2>Welcome: {{ member.first_name }} {{ member.last_name }}</h2>
	<h3>{{ member.email }}</h3>
	<form class="box" id="login" method="POST" action="">{% csrf_token %}
		<div class="row">
			<p>
				Please setup a password for future access.
			</p>
		</div>
		<div class="row">
			<div class="field">
				<label for="new_password1">Password{{ form.errors.new_password1 }}</label>
				<input id="new_password1" type="password" name="new_password1" value="{{ form.data.new_password1 }}"/>
			</div>
		</div>
		<div class="row">
			<div class="field">
				<label for="new_password2">Confirm Password{{ form.errors.new_password2 }}</label>
				<input id="new_password2" type="password" name="new_password2" value="{{ form.data.new_password2 }}"/>

			</div>
		</div>
		<div class="row">
			<div class="field">
				{{ form.non_field_errors }}
				<input class="pull-right" type="submit" name="Reset" value="Save">
			</div>
		</div>
	</form>
	<a id="forgot" href="/d/login">Sign in</a>
</div>
{% else %}
Invalid password reset url.
{% endif %}
{% endblock %}
