{% extends "base_static.html" %} {% block title %}Password Reset{% endblock %} {% block content %}
<section id="login">
    
    <div id="loginbox" class="panel panel-default">
        <div class="panel-body">
        	<h1>Email Sent</h1>
			<p>An email should have been sent to your email address with instructions for resetting your password.</p>
			<hr>
			<small>If you did not receive an email then most likely your account is not active or does not exist in our system.</small>
        </div>
        <div class="panel-footer text-center">
            <span>Powered by </span>
            <img src="/static/img/brand.png" alt="">
        </div>
    </div>

</section>
{% endblock content %}
