div#login-container {
	@include hcenter(970px, 300px);
	padding: 0 20px 0 20px;
	margin-top: 60px;

	#forgot, #create {
		margin-top: 8px;
		font-size: 12px;
	}
}

div.login_form {
	.terms {
		color: white;
	}
}

